.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#themecolors .selector, .cursor{
  cursor: pointer;
}
.w100{
  width: 100px;
}
.w140{
  width: 140px;
}
.img-avatar{
  border: solid 1px rgb(188, 20, 20);
  width: 50px;
  border-radius: 50px;
}
.oculto{
  display: none;
}
.fondo-modal-imagen{
  background-color: rgba(0,0,0,0.4);
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}